h2{
	text-align: center;
}

.agendaList :first-child{
	padding-top: 5px;
}

.agendList{
	padding-left: 20px !important;
}

.adminField{
	display: none !important;
}

.ui-dialog{
	top:0; left:0;
	margin: auto;
	position: fixed;
	max-width: 100%;
	min-width: 30%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	overflow-y: auto;
}

.ui-dialog .ui-dialog-content{
	flex: 1;
}