@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900&display=swap");
/* line 1, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_extend.scss */
.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* 1. Theme default css */
/* line 4, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_reset.scss */
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 157, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_reset.scss */
.layer {
    position: relative;
    z-index: 0;
  }
  
  /* line 161, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_reset.scss */
  .layer::before {
    position: absolute;
    content: "";
    background-color: #1F2227;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
  }

  /* line 1, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
.main-header {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 9;
    padding-top: 10px;
  }
  
  @media (max-width: 767px) {
    /* line 1, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header {
      padding-top: 0;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 1, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header {
      padding-top: 0;
    }
  }
  
  /* line 15, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class {
    padding: 0 150px;
  }
  
  @media (max-width: 767px) {
    /* line 15, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class {
      padding: 10px 10px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 15, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class {
      padding: 10px 10px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 15, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class {
      padding: 0 20px;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1500px) {
    /* line 15, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class {
      padding: 0 10px;
    }
  }
  
  /* line 29, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .image-logo {
    text-align: center;
  }
  
  @media (max-width: 767px) {
    /* line 29, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class .image-logo {
      text-align: left;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 29, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class .image-logo {
      text-align: left;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 29, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class .image-logo {
      text-align: center;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 29, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class .header-timer {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: #FFFFFF;
    }
  }
  
  @media (max-width: 767px) {
    /* line 43, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class .image-logo img {
      width: 70px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 43, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class .image-logo img {
      width: 70px;
    }
  }
  
  /* line 55, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .book_room {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
  }
  
  /* line 61, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .book_room .socail_links ul li {
    display: inline-block;
  }
  
  /* line 64, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .book_room .socail_links ul li a {
    color: #A8A7A0;
    margin: 0 10px;
    font-size: 15px;
  }
  
  /* line 68, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .book_room .socail_links ul li a:hover {
    color: #fff;
  }
  
  /* line 75, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .book_room .book_btn {
    margin-left: 30px;
  }
  
  /* line 77, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .book_room .book_btn a {
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #fff;
    color: #fff;
    padding: 14px 20px;
  }
  
  /* line 84, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .book_room .book_btn a:hover {
    background: #fff;
    color: #000 !important;
    border: 1px solid #fff;
  }
  
  /* line 92, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .menu-class {
    text-align: center;
    padding: 12px 0;
  }
  
  /* line 96, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .menu-class ul li {
    display: inline-block;
    position: relative;
    margin-right: 50px;
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 96, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class .menu-class ul li {
      margin-right: 20px;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1500px) {
    /* line 96, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class .menu-class ul li {
      margin-right: 15px;
    }
  }
  
  /* line 106, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .menu-class ul li a {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    padding: 0px 0px 10px 0px;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-transform: capitalize;
    //text-decoration-line: none;
    text-decoration: none;
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 106, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class .menu-class ul li a {
      font-size: 15px;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1500px) {
    /* line 106, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class .menu-class ul li a {
      font-size: 15px;
    }
  }
  
  /* line 125, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .menu-class ul li a i {
    font-size: 9px;
  }
  
  @media (max-width: 767px) {
    /* line 125, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class .menu-class ul li a i {
      display: none !important;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 125, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class .menu-class ul li a i {
      display: none !important;
    }
  }
  
  /* line 134, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .menu-class ul li a::before {
    position: absolute;
    content: "";
    background: #00D363;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: scaleX(0);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* line 146, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .menu-class ul li a:hover::before {
    opacity: 1;
    transform: scaleX(1);
  }
  
  /* line 151, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .menu-class ul li a.active::before {
    opacity: 1;
    transform: scaleX(1);
  }
  
  /* line 156, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .menu-class ul li a:hover {
    color: #fff;
  }
  
  /* line 160, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .menu-class ul li .submenu {
    position: absolute;
    left: 0;
    top: 140%;
    background: #fff;
    width: 220px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
    opacity: 0;
    visibility: hidden;
    text-align: left;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  
  /* line 172, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .menu-class ul li .submenu li {
    display: block;
  }
  
  /* line 174, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .menu-class ul li .submenu li a {
    padding: 10px 15px;
    position: inherit;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: block;
    color: #000;
  }
  
  /* line 180, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .menu-class ul li .submenu li a::before {
    display: none;
  }
  
  /* line 184, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .menu-class ul li .submenu li:hover a {
    color: #000;
  }
  
  /* line 189, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .menu-class ul li:hover > .submenu {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
  
  /* line 194, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .menu-class ul li:hover > a::before {
    opacity: 1;
    transform: scaleX(1);
  }
  
  /* line 198, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class .menu-class ul li:first-child a {
    padding-left: 0;
  }
  
  /* line 204, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class.sticky {
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    z-index: 999;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 150px;
    background: #1F2227;
  }
  
  @media (max-width: 767px) {
    /* line 204, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class.sticky {
      padding: 10px 10px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 204, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class.sticky {
      padding: 10px 10px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 204, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class.sticky {
      padding: 10px 20px;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1500px) {
    /* line 204, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .main-class.sticky {
      padding: 10px 20px;
    }
  }
  
  /* line 230, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .main-class.sticky .menu-class {
    padding: 0;
  }
  
  /* line 236, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .log_chat_area {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
  }
  
  /* line 238, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .log_chat_area .login {
    font-size: 16px;
    margin-right: 50px;
    text-transform: capitalize;
    color: #fff;
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 238, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
    .main-header .log_chat_area .login {
      margin-right: 7px;
    }
  }
  
  /* line 246, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .log_chat_area .login i {
    color: #fff;
    padding-right: 12px;
  }
  
  /* line 250, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .log_chat_area .login span {
    font-size: 16px;
  }
  
  /* line 255, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .log_chat_area .live_chat_btn a {
    color: #fff;
  }
  
  /* line 257, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_header.scss */
  .main-header .log_chat_area .live_chat_btn a i {
    padding-right: 7px;
  }

  @media (max-width: 767px) {
    /* line 4, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_slick-nav.scss */
    .mobile_menu {
      position: absolute;
      right: 0px;
      width: 100%;
      z-index: 9;
    }
  }

  /* line 16, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
.prising_area .small-section {
    border: 1px solid #E0CCE6;
    border-radius: 5px;
    padding: 29px 23px;
    margin-bottom: 30px;
  }
  
  /* line 22, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .prising_area .small-section .prising_icon i {
    font-size: 65px;
  }
  
  /* line 26, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .prising_area .small-section .prising_icon.blue {
    color: #0181F5;
  }
  
  /* line 29, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .prising_area .small-section .prising_icon.yellow {
    color: #F3C306;
  }
  
  /* line 32, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .prising_area .small-section .prising_icon.lite_blue {
    color: #886CFE;
  }
  
  /* line 35, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .prising_area .small-section .prising_icon.pink {
    color: #FF87A3;
  }
  
  /* line 39, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .prising_area .small-section h3 {
    font-size: 24px;
    font-weight: 500;
    font-size: 24px;
    font-weight: 500;
    color: #2E004B;
    margin-bottom: 13px;
    margin-top: 16px;
  }
  
  /* line 48, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .prising_area .small-section p.prising_text {
    margin-bottom: 0;
  }
  
  /* line 51, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .prising_area .small-section .prise {
    font-size: 14px;
    line-height: 28px;
    margin-top: 23px;
    margin-bottom: 30px;
  }
  
  /* line 56, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .prising_area .small-section .prise span {
    font-size: 24px;
    font-weight: 500;
    color: #2E004B;
    padding-left: 10px;
  }
  

  /* line 68, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
.main-section {
    padding-top: 200px;
    padding-bottom: 170px;
  }
  
  @media (max-width: 767px) {
    /* line 68, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
    .main-section {
      padding-top: 60px;
      padding-bottom: 30px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 68, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
    .main-section {
      padding-top: 100px;
      padding-bottom: 70px;
    }
  }
  
  /* line 79, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .main-section .small-section {
    margin-bottom: 30px;
    -webkit-box-shadow: 0 16px 15px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 16px 15px rgba(0, 0, 0, 0.06);
    box-shadow: 0 16px 15px rgba(0, 0, 0, 0.06);
  }
  
  /* line 82, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .main-section .small-section .small-header {
    background: #706257;
    padding: 26px 0;
    text-align: center;
  }
  
  /* line 86, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .main-section .small-section .small-header h3 {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
  }
  
  /* line 92, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .main-section .small-section .small-header.deep {
    background: #886CFE;
  }
  
  /* line 95, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .main-section .small-section .small-header.yellow {
    background: #F3C306;
  }
  
  /* line 99, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .main-section .small-section .item-list {
    padding-left: 0px;
  }
  
  /* line 102, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .main-section .small-section .item-list ul li {
    font-size: 26px;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
    padding-left: 24px;
  }
  
  
  /* line 108, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .main-section .small-section .item-list ul li::before {
    position: absolute;
    left: 0;
    //top: 50%;
    //width: 10px;
    //height: 10px;
    //margin-bottom: 20px;
    position: relative;
  
    content: "";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    // background: #00C95E;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  
    counter-increment: section;
    content: counters(section, ".") " ";
  
  
  }
  
  /* line 123, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .main-section .text-class {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  
  /* line 128, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .main-section .prise {
    text-align: center;
    font-size: 14px;
    margin-bottom: 50px;
    margin-top: 26px;
  }
  
  /* line 133, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .main-section .prise span {
    font-size: 24px;
    color: #2E004B;
  }
  
  /* line 138, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
  .main-section .btn-color-green {
   // padding: 12px 49px;
    padding: 10px 14px;
  }

  /* line 1, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_btn.scss */
.btn-class-box {
    background: #fff;
    color: #2E004B;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #2E004B;
    letter-spacing: 3px;
    text-align: center;
    color: #2E004B !important;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  /* line 17, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_btn.scss */
  .btn-class-box:hover {
    background: #2E004B;
    color: #fff !important;
    border: 1px solid #2E004B;
  }
  
  /* line 22, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_btn.scss */
  .btn-class-box:focus {
    outline: none;
  }
  
  /* line 25, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_btn.scss */
  .btn-class-box.large-width {
    width: 220px;
  }

  /* line 1, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
.sub-section-class {
    padding-top: 190px;
  }
  
  @media (max-width: 767px) {
    /* line 1, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
    .sub-section-class {
      padding-top: 60px;
    }
  }
  
  /* line 6, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
  .sub-section-class .accordion_heading {
    margin-bottom: 100px;
  }
  
  @media (max-width: 767px) {
    /* line 6, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
    .sub-section-class .accordion_heading {
      margin-bottom: 30px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 6, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
    .sub-section-class .accordion_heading {
      margin-bottom: 30px;
    }
  }
  
  /* line 14, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
  .sub-section-class .accordion_heading h3 {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 0;
  }
  
  @media (max-width: 767px) {
    /* line 14, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
    .sub-section-class .accordion_heading h3 {
      font-size: 28px;
    }
  }
  
  /* line 27, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
  .sub-section-class #accordion .card h5 button {
    font-size: 24px;
    font-weight: 400;
    color: #2E004B;
  }
  
  @media (max-width: 767px) {
    /* line 27, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
    .sub-section-class #accordion .card h5 button {
      font-size: 13px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 27, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
    .sub-section-class #accordion .card h5 button {
      font-size: 18px;
    }
  }
  
  /* line 37, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
  .sub-section-class #accordion .card h5 button i {
    color: #00D363;
    padding-right: 15px;
  }
  
  /* line 44, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
  .sub-section-class #accordion .card .card-body {
    padding: 0 0 40px 76px;
  }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  /* line 1017, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_blog.scss */
.blog-pagination .page-item.active .page-link {
    background-color: #fbf9ff;
    border-color: #f0e9ff;
    color: #888888;
  }

  @media (max-width: 767px) {
    /* line 4, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_slick-nav.scss */
    .mobile_menu {
      position: absolute;
      right: 0px;
      width: 100%;
      z-index: 9;
    }
  }
  
  /* line 13, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_slick-nav.scss */
  .slicknav_menu .slicknav_nav {
    background: #fff;
    float: right;
    margin-top: 0;
    padding: 0;
    width: 95%;
    padding: 0;
    border-radius: 0px;
    margin-top: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 11px;
  }

  /* line 78, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_slick-nav.scss */
.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 5px;
  margin-top: -5px;
  top: -31px;
}

/* line 92, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_slick-nav.scss */
.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -26px;
}


  @media (max-width: 767px) {
    /* line 12, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_slick-nav.scss */
    .slicknav_menu {
      margin-right: 0px;
    }
  }
  

  /* line 32, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav a.active {
    color: #4A3600;
  }

/* line 30, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_features.scss */
.core_features .nav a.active {
    position: relative;
    z-index: 0;
    color: #2E004B;
  }
  
  /* line 34, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_features.scss */
  .core_features .nav a.active::before {
    content: "";
    background: #00D363;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  /* line 135, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_features.scss */
.core_features2 .nav a.active {
    position: relative;
    z-index: 9;
    color: #2E004B;
  }
  
  /* line 139, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_features.scss */
  .core_features2 .nav a.active::before {
    content: "";
    background: #00D363;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  
  .btn-default.btn-on.active{background-color: #5BB75B;color: white;}
  .btn-default.btn-off.active{background-color: #DA4F49;color: white;}
  
  /* line 48, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
  .sub-section-class #accordion .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
    background: #fff !important;
    border: 1px solid #E9E5EC;
    border: 5px;
    margin-bottom: 30px;
   // border: 1px solid #E9E5EC;
  }
  
  /* line 68, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
  .sub-section-class #accordion .card .card-header {
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: none;
   // padding: 14px 0 16px 14px;
  
     padding: 0px 0 16px 14px;
  }
  
  @media (max-width: 767px) {
    /* line 74, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
    .sub-section-class #accordion .card .card-header span {
      display: none;
    }
  }
  
  /* line 82, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
  .sub-section-class .btn-link.focus, .sub-section-class .btn-link:focus {
    text-decoration: none;
    border-color: transparent;
    box-shadow: none;
  }
  
  /* line 87, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_faq.scss */
  .sub-section-class .btn-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
  }
  
  /* line 133, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_contact.scss */
.main-text {
    padding: 130px 0 100px;
  }
  
  @media (max-width: 991px) {
    /* line 133, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_contact.scss */
    .main-text {
      padding: 70px 0 40px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 133, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_contact.scss */
    .main-text {
      padding: 80px 0 50px;
    }
  }
  
  /* line 141, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_contact.scss */
  .main-text .btn_2 {
    background-color: #191d34;
    padding: 18px 60px;
    border-radius: 50px;
    margin-top: 0;
  }
  
  /* line 146, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_contact.scss */
  .main-text .btn_2:hover {
    background-color: #ff5e13;
  }

  /* line 45, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_contact.scss */
.text-title-class {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  
/* line 4, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_support.scss */
.image-section-class {
    min-height: 100%;
  
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
  
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  @media (max-width: 767px) {
    /* line 4, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_support.scss */
    .image-section-class {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 4, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_support.scss */
    .image-section-class {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  
  /* line 19, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_support.scss */
  .image-section-class h3 {
    font-size: 42px;
    font-weight: 500;
    color: #fff;
  }
  
  @media (max-width: 767px) {
    /* line 19, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_support.scss */
    .image-section-class h3 {
      font-size: 27px;
    }
  }
  
  /* line 27, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_support.scss */
  .image-section-class P {
    font-size: 16px;
    color: #fff;
    margin: 25px 0;
  }
  
  /* line 33, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_support.scss */
  .image-section-class .btn-color-green {
    margin-right: 20px;
    padding: 12px 45px;
  }
  
  /* line 37, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_support.scss */
  .image-section-class  {
    color: #00D363;
    font-size: 16px;
  }
  
  @media (max-width: 767px) {
    /* line 37, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_support.scss */
    .image-section-class {
      display: block;
      margin-top: 20px;
    }
  }
  
  /* line 47, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_support.scss */
  .image-section-class .row {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
  }

  /* line 1, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_support.scss */
.image-display-class {
    background-image: url(../img/support/2.jpg);
  }

  /* line 184, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_gallery.scss */
.popup-class .inside-popup span {
    color: red;
  }
  
  /* line 189, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_gallery.scss */
  #test-form .popup-class input {
    width: 100%;
    height: 50px;
  }

  /* line 110, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_bradcam.scss */
.popup-class-show {
    background: transparent;
    display: inline-block;
    width: 558px;
    padding: 60px 40px;
    border-radius: 5px;
    z-index: 9;
  }
  
  @media (max-width: 767px) {
    /* line 110, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_bradcam.scss */
    .popup-class-show {
      width: 320px;
      padding: 45px 30px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 110, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_bradcam.scss */
    .popup-class-show {
      width: 420px !important;
      padding: 45px 30px;
    }
  }
  
  /* line 129, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_bradcam.scss */
  .popup-class-show .logo-class {
    margin-bottom: 25px;
  }
  
  @media (max-width: 767px) {
    /* line 129, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_bradcam.scss */
    .popup-class-show .logo-class {
      margin-bottom: 30px;
    }
  }
  
  /* line 135, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_bradcam.scss */
  .popup-class-show h3 {
    font-size: 24px;
    color: #1F1F1F;
    margin-bottom: 30px;
    text-align: left;
  }
  
  @media (max-width: 767px) {
    /* line 135, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_bradcam.scss */
    .popup-class-show h3 {
      margin-bottom: 15px;
    }
  }
  
  /* line 144, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_bradcam.scss */
  .popup-class-show .boxed-btn3 {
    width: 100%;
    text-transform: capitalize;
  }
  
  /* line 148, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_bradcam.scss */
  .popup-class-show .btn-color-green {
    width: 100%;
  }
  
  /* line 214, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_bradcam.scss */
  .popup-class-show {
    font-size: 16px;
    color: #727272;
    margin-top: 33px;
    font-weight: 400;
  }
  
  /* line 219, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_bradcam.scss */
  .popup-class-show  a {
    color: #0181F5;
  }

  /* line 244, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_gallery.scss */
.inside-popup input {
    width: 100%;
    margin-bottom: 30px;
    color: #000;
    padding: 18px;
    border: 1px solid #ddd;
    border-radius: 30px;
    height: 60px;
    padding-left: 30px;
  }
  
  /* line 253, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_gallery.scss */
  .inside-popup input:focus {
    outline: none;
  }
  
  /* line 256, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_gallery.scss */
  .inside-popup input::placeholder {
    color: #919191;
    font-size: 16px;
  }
  
  /* line 114, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_btn.scss */
.btn-color-green {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    padding: 12px 30px;
    background: #00D363;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid transparent;
    display: inline-block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* line 124, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_btn.scss */
  .btn-color-green:hover {
    background: transparent;
    color: #00D363;
    border: 1px solid #00D363;
    color: #00D363 !important;
  }
  
  /* line 132, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_btn.scss */
  .btn-color-green2 {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    padding: 12px 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid transparent;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: transparent;
    color: #00D363;
    border: 1px solid #00D363;
    display: inline-block;
  }
  
  /* line 144, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_btn.scss */
  .btn-color-green2:hover {
    color: #fff !important;
    background: #00D363;
  }

  /* line 176, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
.btn-color-green {
    margin-right: 10px;
  }
  
  @media (max-width: 767px) {
    /* line 176, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
    .btn-color-green {
      padding: 11px 50px;
      margin-right: 0;
    }
  }

  /* line 189, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_prising.scss */
.btn-color-green2 {
    padding: 11px 45px 14px 45px;
  }

  /* line 194, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_gallery.scss */
.btn-color-green {
    width: 100%;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }

  /* line 71, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_search_result.scss */
/* .search_area .single_search .prising_content a.premium.disable {
    background: #F6F0F8;
    color: #919191;
  } */
  
  /* line 76, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_search_result.scss */
  a.btn-color-green {
    padding: 7px 36px;
    color: #fff;
  }
  
  /* line 79, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_search_result.scss */
  a.btn-color-green.disable {
    background: #C7C7C7;
  }
  
  /* line 81, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_search_result.scss */
 a.btn-color-green.disable:hover {
    border: 1px solid transparent;
    color: #fff !important;
  }

  /* line 43, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_launch.scss */
.btn-color-green2 {
    color: #fff !important;
    border-color: #fff !important;
    text-transform: capitalize;
    font-size: 18px;
    padding: 10px 40px;
  }
  
  /* line 49, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_launch.scss */
  .btn-color-green2:hover {
    border-color: #00D363 !important;
  }

  /* line 39, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_reset.scss */
h1, h2, h3, h4, h5 {
    font-family: "Roboto", sans-serif;
    color: #2E004B;
  }
  
  /* line 43, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_reset.scss */
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: inherit;
  }

  /* line 93, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_elements.scss */
h1 {
    font-size: 36px;
  }
  
  /* line 97, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_elements.scss */
  h2 {
    font-size: 30px;
  }
  
  /* line 101, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_elements.scss */
  h3 {
    font-size: 24px;
  }
  
  /* line 105, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_elements.scss */
  h4 {
    font-size: 18px;
  }
  
  /* line 109, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_elements.scss */
  h5 {
    font-size: 16px;
  }
  
  /* line 113, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_elements.scss */
  h6 {
    font-size: 14px;
  }
  
  /* line 117, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_elements.scss */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2em;
  }
  
  /* line 127, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_elements.scss */
  .typography h1,
  .typography h2,
  .typography h3,
  .typography h4,
  .typography h5,
  .typography h6 {
    color: #828bb2;
  }

  /* line 85, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_elements.scss */
b,
sup,
sub,
u,
del {
  color: #ff5e13;
}

/* line 89, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_reset.scss */
*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 104, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_reset.scss */
*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

  a,
button {
  color: #1F1F1F;
  outline: medium none;
}

ul {
  margin: 0px;
  padding: 0px;

  counter-reset: section;
  list-style-type: none;

}

/* line 56, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_reset.scss */
li {
  /*  list-style: none; */
  //list-style-type: decimal;
  
     // font-size: 30px;
  
  }

 /* line 59, C:/Users/SPN Graphics/Desktop/cl sep/HTML/scss/_reset.scss */
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #919191;
  margin-bottom: 13px;
  font-family: "Roboto", sans-serif;
} 